<a href="https://colab.research.google.com/github/asleybach/googlecolab-notebooks/blob/main/Practica2_edx_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling 

proceso de convertir los datos desde un formato inicial a uno apropiado para su análisis.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
data = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

In [ ]:
df = pd.read_csv(data, names=headers)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

# Identificar valores faltantes
Convertir "?" a NaN
En el conjunto de datos del automovil, los datos que faltan aparecen con el signo "?". Cambiamos "?" por NaN (Not a Number) el cual es el marcador por defecto de Python para valores faltantes por razones de conveniencia y velocidad de computo. Aqui usamos la función:

.replace(A, B, inplace = True) 

para reemplazar A por B

In [ ]:
df.replace("?", np.nan, inplace = True)

In [ ]:
df.head(3)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500

[3 rows x 26 columns]

# Checar valores nulos en el dataframe
para ello basta utilizar las sentencias


```
missing_data = df.isnull()
missing_data.head(5)
```

In [ ]:
missing_data = df.isnull()
missing_data.head(10)

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False               True  False  ...     False        False  False
1      False               True  False  ...     False        False  False
2      False               True  False  ...     False        False  False
3      False              False  False  ...     False        False  False
4      False              False  False  ...     False        False  False
5      False               True  False  ...     False        False  False
6      False              False  False  ...     False        False  False
7      False               True  False  ...     False        False  False
8      False              False  False  ...     False        False  False
9      False               True  False  ...     False        False   True

[10 rows x 26 columns]

In [ ]:
#contar los valores nulos por columna
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

# Manejar Valores Faltantes
¿Como se manejan los valores faltantes?

    eliminando datos
    a. eliminar toda la fila
    b. eliminar toda la columna
    remplazando datos
    a. remplazarlos por la media
    b. remplazarlos por la frecuencia
    c. remplazarlos en base a otras funciones

Todas las columnas deberían ser eliminadas solo si la mayoría de las entradas de la columna estan vacias. En nuestro conjunto de datos ninguna de las columnas estan tan vacias como para eliminarlas completamente. Tenemos cierta libertad de elegir cual método usar para reemplazar los datos; sin embargo, algunos métodos puedieran ser mejores que otros. Se aplicara cada método para muchas columnas distintas:

Remplazar con la Media:

    "normalized-losses": 41 datos faltantes , remplazar con la media
    "stroke": 4 datos faltantes , remplazar con la media
    "bore": 4 datos faltantes , remplazar con la media
    "horsepower": 2 datos faltantes , remplazar con la media
    "peak-rpm": 2 datos faltantes , remplazar con la media

Remplazar con la Frecuancia:

    "num-of-doors": 2 datos faltantes, remplazar con "cuatro".
        Razón: El 84% de los sedanes es de cuatro puertas. Debido que tener cuatro puertas es mas frecuente, es mas probable que ocurra

Eliminar toda la fila:

    "price": 4 datos faltantes, simplemente se borra toda la columna.
        Razón: El precio es lo que queremos predecir. Cualquier dato de entrada sin precio no puede ser usado para predecir; debido a esto toda fila sin información del precio no es de utilidad

In [ ]:
#Remplazar con la Media
avg_norm_loss = df['normalized-losses'].astype('float').mean(axis=0)
avg_stroke= df['stroke'].astype('float').mean(axis=0)
avg_bore = df['bore'].astype('float').mean(axis=0)
avg_horse = df['horsepower'].astype('float').mean(axis=0)
avg_peak = df['peak-rpm'].astype('float').mean(axis=0)

In [ ]:
df['normalized-losses'].replace(np.nan, avg_norm_loss, inplace = True)
df['stroke'].replace(np.nan, avg_stroke, inplace = True)
df['bore'].replace(np.nan, avg_bore, inplace = True)
df['horsepower'].replace(np.nan, avg_bore, inplace = True)
df['peak-rpm'].replace(np.nan, avg_peak, inplace = True)

In [ ]:
#remplazar por la frecuencia
max_num_of_doors = df['num-of-doors'].value_counts().idxmax()
df['num-of-doors'].replace(np.nan, max_num_of_doors, inplace = True)

In [ ]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
#Finalmente, eliminemos todas las filas que no tienen información de precios:

# elimina toda la fila con NaN en la columna "price"
df.dropna(subset=["price"], axis=0, inplace=True)

# restablece el índice debido a que eliminamos dos filas
df.reset_index(drop=True, inplace=True)